<div class="container p-5">
    <div class="row">
      <div
        class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
        <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          <div class="form-group">
            <label>Id</label>
            <input type="number" class="form-control form-control-sm" formControlName="id"/>
          </div>
          <div class="form-group">
              <label>Usuário</label>
              <select class="form-control form-control-sm" formControlName="usuarioId">
                <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                  {{ usuario.nome }}
                </option>
              </select>
              </div>
            <div class="form-group">
              <label>Funcionário</label>
              <select class="form-control form-control-sm" formControlName="funcionarioId">
                <option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">
                  {{ funcionario.nome}}
                </option>
              </select>
            </div>
            <div class="form-group">
                <label>Livros</label>
                <select class="form-control form-control-sm" formControlName="livroId">
                  <option *ngFor="let livro of livros" [value]="livro.id">
                    {{ livro.titulo}}
                  </option>
                </select>
              </div>
            <div class="form-group">
              <label>Data do empréstimo</label>
              <input type="datetime-local" class="form-control form-control-sm" formControlName="dataEmprestimo"/>
            </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Salvar
                </button>
              </div>
              <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light">Voltar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  

